  :root {
      /* text clrs */
      --main-clr: #2196f3;
      --title-color: #212121;
      --text-color: #757575;
      --foot-adress: rgba(255, 255, 255, 0.6);
      --white-clr: white;
      --icon-clr: #afb1b8;
      /* bg clrs */
      --bg-clr-main: #2f303a;
      --bg-clr-secondary: #f5f4fa;
      --bg-hero: #c4c4c4;
      --foot-icon: rgba(255, 255, 255, 0.1);
      --bg-our-job: rgba(47, 48, 58, 0.8);
      --overlay: rgba(0, 0, 0, 0.2);
      --hover-overlay: rgba(33, 150, 243, 0.9);
      --border-form-clr: rgba(33, 33, 33, 0.2);
      /* others */
      --hover-btn: #188ce8;
      --frame-clr: #ececec;
      --frame-card: #eeeeee;
      --indent: 30px;
    }