/* footer section */

.footer {
  padding: 60px 0;
  background-color: var(--bg-clr-main);
  
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
  }
  
  &__box {
    display: flex;
  }
}

.bottom-studio {
  color: var(--white-clr);
}

.contacts {
  margin-right: 90px;
  font-style: inherit;

  @include font(none, 14px, 24px);
  
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  &__address {
    color: var(--white-clr);
  }
  
  &__link {
    color: var(--foot-adress);
  }
}

.join,
.subscribe {
  margin-top: 12px;
  
  &__title {
    @extend %title-small;
    
    color: var(--white-clr);
  }
}

.join .social-list {
  margin-top: 20px;
}

.join .social-list__item {
  color: var(--white-clr);
  background-color: var(--foot-icon);
  transition: background-color var(--transition-var);
}

.subscribe {
  flex-basis: 570px;
  margin-left: auto;
  
  &__form {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  
  &__input {
    padding: 15px 16px;
    background-color: transparent;
    width: calc(100% - 12px);
    border: none;
    outline: none;
    
    @include transition-main(border-color);
    
    font-size: 16px;
    color: var(--foot-adress);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}


.subscribe__input:focus {
  outline: none;
  border-color: var(--main-clr);
}

.subscribe__label {
  position: relative;
  flex-grow: 1;
}

.subscribe__text {
  position: absolute;
  left: 16px;
  bottom: 15px;
  font-size: 16px;
  color: var(--foot-adress);
  transform: translateY(0);
  
  @include transition-main();
}

.subscribe__input:focus+.subscribe__text {
  color: var(--main-clr);
}

.subscribe__input:focus+.subscribe__text,
.subscribe__input:not(:placeholder-shown)+.subscribe__text {
  transform: translateY(45px);
  @include transition-main(transform);
}

.icon-send {
  margin-left: 10px;
  vertical-align: middle;
}