.header {border-bottom: 1px solid var(--frame-clr);}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(comp) {justify-content: start;}
}

.header__nav {
  @include media(comp){margin-left: 93px;}
}

.main-nav,
.header-contacts {
  display: none;
  
  @include media(tablet) {
    display: flex;
  }
}

.main-nav__item:not(:last-child) {margin-right: 50px;}

.main-nav__link {
  position: relative;
  padding: 31px 0 33px 0;
  color: var(--title-color);
  
  @include font(500, 14px, 16px, 0.02em);
}

.main-nav__link--active {
  color: var(--main-clr);
  
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-clr);
  }
}

.header-contacts {
  @include media(tablet) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @include media(comp) {
    flex-direction: row;
    margin-left: auto;
    gap: 30px;
  }

  .icon {
    margin-right: 10px;
  }
}

.header-contacts__link {
  display: inline-flex;
  align-items: center;
}