/* qualities section */

.qualities {@extend %section;}

.qualities__title {@extend %title-small;}

.qualities__text {@include font(none, 14px, 24px);}

.qualities .card-set {
  --items: 1;
  @include media (tablet) {--items: 2;}
  @include media (comp) {  --items: 4;}
}

.qualities__background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  
  border-radius: 4px;
  background-color: var(--bg-clr-secondary);
}